<template>
    <div class="home">
        <v-form class="mt-10">
            <v-container>
                <v-row align="center" justify="space-around">
                    <v-col cols="12">
                        <v-text-field
                            v-model.trim="amount"
                            label="Введите количества денег"
                            type="number"
                            min="0"
                            outlined
                        ></v-text-field>
                    </v-col>

                    <v-col cols="12">
                        <v-btn
                            color="primary"
                            x-large
                            :disabled="isDisabled"
                            to="/pair-selection"
                            class="mr-16"
                        >
                            Посчитать
                        </v-btn>
                        <v-btn x-large @click="clearAmount">Очистить</v-btn>
                    </v-col>
                </v-row>
            </v-container>
        </v-form>
    </div>
</template>

<script>
export default {
    name: "Home",
    components: {},

    computed: {
        amount: {
            get() {
                return this.$store.state.amount;
            },
            set(amount) {
                this.$store.dispatch("GET_AMOUNT", amount);
            },
        },
        isDisabled() {
            return Number(this.amount) <= 0;
        },
    },

    methods: {
        clearAmount() {
            this.$store.dispatch("GET_AMOUNT", 0);
        },
    },
};
</script>
