<template>
    <div class="pair-selection">
        <h1>Страница с выбором пар</h1>
        <v-radio-group v-if="isCurrencies" v-model="selectedCurrency">
            <v-radio
                v-for="(currency, index) in currencies"
                :key="index.toString()"
                :label="currency.exchange"
                :value="index.toString()"
            ></v-radio>
        </v-radio-group>
        <v-container v-else>
            <v-progress-circular
                indeterminate
                color="primary"
            ></v-progress-circular>
        </v-container>

        <v-btn color="primary" x-large class="mr-16" @click="$_canceling">
            Отмены операции
        </v-btn>
        <v-btn x-large color="success" to="/result">Обмен</v-btn>
    </div>
</template>

<script>
import mixins from "./mixins";
export default {
    name: "PairSelection",

    mixins: [mixins],

    computed: {
        selectedCurrency: {
            get() {
                return this.$store.state.selectedCurrency;
            },
            set(currency) {
                this.$store.dispatch("GET_SELECTED_CURRENCY", currency);
            },
        },

        isCurrencies() {
            return this.$store.state.isCurrencies;
        },

        currencies() {
            return this.$store.getters.filterCurrencies;
        },
    },

    created() {
        this.$store.dispatch("GET_CURRENCY");
    },
};
</script>

<style></style>
