<template>
    <div class="result">
        <h1>Страница с результатом</h1>
        <ResultsTable :amount-result="result" />

        <v-btn x-large color="success" @click="$_canceling">
            Возврато на начало
        </v-btn>
    </div>
</template>

<script>
import mixins from "./mixins";
import currencies from "@/constants/currencies";
import ResultsTable from "@/components/results-table";
export default {
    name: "Result",

    components: {
        ResultsTable,
    },

    mixins: [mixins],

    computed: {
        amount() {
            return this.$store.state.amount;
        },
        amountResult() {
            return this.$store.state.amountResult;
        },
        data() {
            const now = new Date();
            return (
                this.addZero(now.getDate()) +
                "/" +
                this.addZero(now.getMonth() + 1) +
                "/" +
                now.getFullYear()
            );
        },
        selectedCurrency() {
            return this.$store.state.selectedCurrency;
        },
        currentCurrencies() {
            return this.$store.getters.filterCurrencies[this.selectedCurrency];
        },
        currentSymbol() {
            return currencies[this.currentCurrencies.toCurrency];
        },
        exchange() {
            return this.currentCurrencies.exchange;
        },
        payment() {
            return Number(this.selectedCurrency) === 1
                ? this.amount / this.currentCurrencies.course
                : this.amount * this.currentCurrencies.course;
        },
        exchangeResult() {
            return this.payment.toFixed(2).toString() + this.currentSymbol;
        },
        result() {
            return [
                {
                    data: this.data,
                    amount: this.amount,
                    exchange: this.exchange,
                    exchangeResult: this.exchangeResult,
                },
            ];
        },
    },

    created() {
        const amountResult = this.amountResult.slice();
        amountResult.push(this.result[0]);
        this.$store.dispatch("GET_AMOUNT_RESULT", amountResult);
    },

    methods: {
        addZero(value) {
            return value < 10 ? "0" + value : value;
        },
    },
};
</script>

<style></style>
