<template>
    <v-simple-table>
        <template #default>
            <thead>
                <tr>
                    <th class="text-left">Дата</th>
                    <th class="text-left">Количества денег</th>
                    <th class="text-left">Обмен</th>
                    <th class="text-left">Результат</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    v-for="(result, index) in amountResult"
                    :key="index.toString()"
                >
                    <td>{{ result.data }}</td>
                    <td>{{ result.amount }}</td>
                    <td>{{ result.exchange }}</td>
                    <td>{{ result.exchangeResult }}</td>
                </tr>
            </tbody>
        </template>
    </v-simple-table>
</template>

<script>
export default {
    name: "ResultsTable",

    props: {
        amountResult: {
            type: Array,
            default: () => [],
        },
    },
};
</script>

<style></style>
