<template>
    <div id="app">
        <!-- App.vue -->

        <v-app>
            <!-- Sizes your content based upon application components -->
            <v-main>
                <!-- Provides the application the proper gutter -->
                <v-container fluid>
                    <!-- If using vue-router -->
                    <router-view></router-view>

                    <v-container v-if="isAmountResult" class="mt-16">
                        <h2>История конвертаций</h2>
                        <ResultsTable :amount-result="amountResult" />
                    </v-container>
                </v-container>
            </v-main>
        </v-app>
    </div>
</template>
<script>
import ResultsTable from "@/components/results-table";
export default {
    components: {
        ResultsTable,
    },

    computed: {
        amountResult() {
            return this.$store.state.amountResult;
        },
        isAmountResult() {
            return this.amountResult.length;
        },
    },
};
</script>
